.content  {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 230, 122);
    font-family: fantasy;
    
  }

  row{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: antiquewhite;
    
  }

  input{
      border-radius: 12%;
      border-style: solid;
      border-width: thin;
      border-color: blueviolet;
      
      margin-bottom: 15px;
      padding: 8px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }







  